 first{
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 28px;
    font-family: 'New Times New Roman', Times, sans-serif;
}
second {
    color: black;
    background-color: yellow;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Times New Roman', Times, sans-serif;
}
